/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
address {
  text-decoration: none;
  color: var(--white);
  font-size: var(--fs-6);
}

li {
  list-style: none;
}

img,
ion-icon,
a,
button,
time,
span {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input,
textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: var(--vegas-gold);
  color: var(--smoky-black);
}

:focus {
  outline-color: var(--vegas-gold);
}

html {
  font-family: var(--ff-poppins);
  margin: 0; height: 100%; overflow: hidden;
  background: var(--black);
}

main {
  display: flex;
  flex-direction: column;
  margin: var(--margin-1);

  @media (min-width: 65rem) {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}

h2,
h3,
h4 {
  color: var(--white);
  text-transform: capitalize;
  margin-bottom: 1.2rem;
}

h2 {
  font-size: var(--fs-1);
}

h3 {
  font-size: var(--fs-2);
}

h4 {
  font-size: var(--fs-4);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.separator {
  width: 100%;
  height: 1px;
  background: var(--light-grey);
  margin: 1rem 0;
}

.icon_box {
  background: var(--light-grey);
  position: relative;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.3rem;
  color: var(--vegas-gold);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.icon_box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--smoky-black);
  border-radius: inherit;
  z-index: -1;
}

header {
  @media (max-width: 35rem) {
    display: none;
  }
}

address {
  font-style: unset;
}

article {
  display: none;
  background: var(--grey);
  border-radius: 0 0 1rem 1rem;
  padding: 0rem 0 2rem 2rem;
  box-shadow: var(--shadow-1);

  &.active {
    display: block;
    animation: fade 0.5s ease backwards;

    @media (min-width: 35rem) {
      border-radius: 1rem;
      padding: 2rem 0 2rem 2rem;
    }
  }
}

.article {
  &_body {
      overflow-y: auto;
      max-height: calc(100vh - 19rem);
      padding-right: 2rem;

      @media (min-width: 35rem) {
        max-height: calc(100vh - 22rem);
      }

      @media (min-width: 65rem) {
        max-height: calc(100vh - 11.25rem);
      }
  }
}

h2.article_title {
  position: relative;
  padding-bottom: 0.5rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--vegas-gold);
    border-radius: 3px;
  }
}

ion-icon {
  color: var(--vegas-gold);
}

.has-scrollbar::-webkit-scrollbar {
  width: 5px; /* for vertical scrollbar */
  height: 5px; /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--grey);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--vegas-gold);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button {
  width: 1.2rem;
}
