.main-content {
  position: relative;
  min-width: 50%;
  height: 75dvh;

  @media (min-width: 35rem) {
    height: 95dvh;
  }

  @media (min-width: 48rem) and (min-height:64rem) {
    height: 80dvh;
  }
}