.navbar {
	background-color: var(--grey);
	border-radius: 1.2rem 1.2rem 0 0;
	width: 100%;
	padding: 2rem 2rem 1rem 2rem;

	@media (min-width: 35rem) {
		position: absolute;
		bottom: auto;
		left: auto;
		right: 0;
		width: max-content;
		border-radius: 0 1rem;
		padding: 0 1rem;
		background-color: var(--light-grey);
	}

	&_list {
		display: flex;
		align-items: center;
    border-radius: 2rem;
		max-height: 3rem;

		@media (min-width: 35rem) {
			background: unset;
			max-height: none;
		}
	}

	&_item {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: auto;
    border-radius: 1rem;

		&.active {
			background-color: var(--vegas-gold);
			max-height: 3rem;

			@media (min-width: 35rem) {
				background-color: unset;
				max-height: none;
			}
		}

		& a {
			color: var(--white);
		}

		&.active a{
			color: var(--lighter-grey);

			@media (min-width: 35rem) {
				color: var(--vegas-gold);
			}
		}
	}

	&_link {
		cursor: inherit;
		color: var(--grey);
		font-size: var(--fs-4);
		padding: 1.2rem 0.5rem;
		transition: color var(--transition-1);
	}

	&_item:hover,
	&_item:focus {
		color: var(--grey);
	}
}
