.sidebar {
	display: flex;
	flex-direction: column;
	position: sticky;
	margin-bottom: 1rem;
	max-height: 8rem;
	background: var(--grey);
	border-radius: 1.2rem;
	padding: 2rem;
	box-shadow: var(--shadow-1);

	@media (max-width: 17.5rem) {
		max-height: 7rem;
	}

	@media (min-width: 64rem) {
		min-height: 31.5rem;
		min-width: 20rem;
	}

	&.active {
		min-height: 23rem;
		.sidebar_more_info {
			opacity: 1;
			visibility: visible;
		}

		.sidebar_info_more_btn_icon {
			transform: rotate(0.5turn);
		}
	}

	&_info {
		position: relative;
		display: flex;
		align-items: center;
		gap: 1rem;

		@media (max-width: 17.5rem) {
			justify-content: center;
		}

		&_avatar_box {
			background: var(--light-grey);
			border-radius: 1rem;

			@media (max-width: 17.5rem) {
				display: none;
			}

			&_img {
				width: 4rem;

				@media (min-width: 64rem) {
					display: initial;
					width: 8rem;
				}
			}
		}

		&_content {
			display: flex;
			flex-direction: column;
			justify-content: center;

			&_name {
				text-align: center;
				color: var(--white);
				font-size: var(--fs-4);
				font-weight: var(--fw-400);
				letter-spacing: -0.25px;
				margin-bottom: .5rem;

				@media (min-width: 64rem), (max-width: 23rem) {
					text-align: center;
				}
			}

			&_role {
				color: var(--white);
				background: var(--light-grey);
				font-size: var(--fs-8);
				font-weight: var(--fw-300);
				width: max-content;
				padding: 3px 12px;
				border-radius: 1rem;
			}
		}

		&_more_btn {
			position: absolute;
			top: -2rem;
			right: -2rem;
			border-radius: 0 1rem;
			background: var(--light-grey);
			padding: 0.6rem;
			transition: var(--transition-1);

			&::before {
				content: "";
				position: absolute;
				inset: 1px;
				border-radius: inherit;
				background: var(--bg-gradient-jet);
				transition: var(--transition-1);
				z-index: -1;
			}
			span {
				display: none;
			}

			@media (min-width: 64rem) {
				display: none;
			}
		}

		@media (min-width: 64rem) {
			display: flex;
			flex-direction: column;
			padding-right: 0;
		}
	}

	&_more_info {
		opacity: 0;
		visibility: hidden;

		.contacts_list {
			display: grid;
			grid-template-columns: 1fr;
			gap: 1rem;

			&_item {
				min-width: 100%;
				display: flex;
				align-items: center;
				gap: 1rem;

				&_info {
					width: unset;
						overflow: unset;
					@media (max-width: 17.5rem) {
						white-space: nowrap;
						overflow: hidden;
						box-sizing: border-box;
						width: 9rem;
					}

					&_title {
						color: var(--vegas-gold);
						font-size: var(--fs-8);
						text-transform: uppercase;
						margin-bottom: 2px;
					}

					&_contact {
							@media (max-width: 23rem) {
								display: inline-block;
								animation: marquee 5s linear infinite;
							}
					}
				}
			}
		}

		.social_list {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1rem;

			&_item {
				.social_link {
					color: var(--light-grey);
					font-size: 1.8rem;
					&:hover {
						color: var(--grey);
					}
				}
			}
		}
		@media (min-width: 64rem) {
			opacity: 1;
			visibility: visible;
		}
	}
}

@keyframes marquee {
	0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}
