<article class="about active" data-page="about">
  <header>
    <h2 class="h2 article_title">About me</h2>
  </header>
  <section class="about_intro">
    <h3 class="h3 about_intro_title">{{ .Site.Data.about.title }}</h3>
    <p>{{ .Site.Data.about.intro_hello }}</p>
    <p>{{ .Site.Data.about.intro_journey }} {{ .Site.Data.about.intro_skills }}</p>
    <p>{{ .Site.Data.about.intro_spare_time }}</p>
  </section>
  <section class="about_personal">
    <h3 class="h3 about_personal_title">What i'm doing</h3>
    <ul class="about_personal_list">
      <li class="about_personal_item">
        <div class="about_personal_icon_box">
          <img src="./assets/images/icon-design.svg" alt="design icon" width="40" />
        </div>
        <div class="about_personal_content-box">
          <h4 class="h4 about_personal_item-title">Web design</h4>
          <p class="about_personal_item-text">The most modern and high-quality design made at a professional level.</p>
        </div>
      </li>
      <li class="about_personal_item">
        <div class="about_personal_icon_box">
          <img src="./assets/images/icon-dev.svg" alt="Web development icon" width="40" />
        </div>
        <div class="about_personal_content-box">
          <h4 class="h4 about_personal_item-title">Web development</h4>
          <p class="about_personal_item-text">High-quality development of sites at the professional level.</p>
        </div>
      </li>
      <li class="about_personal_item">
        <div class="about_personal_icon_box">
          <img src="./assets/images/icon-app.svg" alt="mobile app icon" width="40" />
        </div>
        <div class="about_personal_content-box">
          <h4 class="h4 about_personal_item-title">Mobile apps</h4>

          <p class="about_personal_item-text">Professional development of applications for iOS and Android.</p>
        </div>
      </li>
      <li class="about_personal_item">
        <div class="about_personal_icon_box">
          <img src="./assets/images/icon-photo.svg" alt="camera icon" width="40" />
        </div>

        <div class="about_personal_content-box">
          <h4 class="h4 about_personal_item-title">Photography</h4>

          <p class="about_personal_item-text">I make high-quality photos of any category at a professional level.</p>
        </div>
      </li>
    </ul>
  </section>
  <section class="about_technologies">
    <h3 class="h3 about_technologies_title">Most Used Technologies</h3>

    <ul class="about_technologies_list has-scrollbar">
      <li class="about_technologies_list_item">
        <a href="#">
          <img src="./assets/images/logo-1-color.png" alt="client logo" />
        </a>
      </li>
      <li class="about_technologies_list_item">
        <a href="#">
          <img src="./assets/images/logo-2-color.png" alt="client logo" />
        </a>
      </li>
      <li class="about_technologies_list_item">
        <a href="#">
          <img src="./assets/images/logo-3-color.png" alt="client logo" />
        </a>
      </li>
      <li class="about_technologies_list_item">
        <a href="#">
          <img src="./assets/images/logo-4-color.png" alt="client logo" />
        </a>
      </li>
      <li class="about_technologies_list_item">
        <a href="#">
          <img src="./assets/images/logo-5-color.png" alt="client logo" />
        </a>
      </li>
      <li class="about_technologies_list_item">
        <a href="#">
          <img src="./assets/images/logo-6-color.png" alt="client logo" />
        </a>
      </li>
    </ul>
  </section>
</article>
