<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Title }}</title>

  <!--- favicon -->
  <link rel="icon" href="{{ .Site.Data.index.favicon_url }}" type="image/png" sizes="32x32" />

  <!--- custom CSS -->
  {{ $cssResources := slice }}
  {{ $dir := readDir "assets/sass" }}
  {{ range $dir }}
    {{ $path := print "sass/" .Name }}
    {{ $resource := resources.Get $path }}
    {{ $cssResources = $cssResources | append $resource }}
  {{ end }}
  {{ $cssBundle
    := $cssResources | resources.Concat "bundle.css" | resources.ToCSS | resources.Fingerprint | resources.Minify
  }}
  <link rel="stylesheet" href="{{ $cssBundle.RelPermalink }}" />

  <!--- google font link -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />

  <!--- custom JS -->
  {{ $js := resources.Get "js/index.js" }}
  <script defer language="javascript" type="text/javascript" src="{{ $js.RelPermalink }}"></script>

  <!--- ionicon link -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <!--- dayJS -->
  <script
    type="module"
    src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.7/dayjs.min.js"
    integrity="sha512-hcV6DX35BKgiTiWYrJgPbu3FxS6CsCjKgmrsPRpUPkXWbvPiKxvSVSdhWX0yXcPctOI2FJ4WP6N1zH+17B/sAA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</head>
