<article class="portfolio" data-page="portfolio">
  <header>
    <h2 class="h2 article_title">Portfolio</h2>
  </header>
  <section class="projects">
    <ul class="projects_filter-list">
      <li class="projects_filter-list_item">
        <button class="active" data-filter-btn>All</button>
      </li>
      <li class="projects_filter-list_item">
        <button data-filter-btn>Web design</button>
      </li>
      <li class="projects_filter-list_item">
        <button data-filter-btn>Applications</button>
      </li>

      <li class="projects_filter-list_item">
        <button data-filter-btn>Web development</button>
      </li>
    </ul>
    <div class="projects_filter-select-box">
      <button class="filter-select" data-select>
        <div class="select-value" data-select-value>Select category</div>
        <div class="select-icon">
          <ion-icon name="chevron-down"></ion-icon>
        </div>
      </button>
      <ul class="select-list">
        <li class="select-list_item">
          <button data-select-item>All</button>
        </li>
        <li class="select-list_item">
          <button data-select-item>Web design</button>
        </li>
        <li class="select-list_item">
          <button data-select-item>Applications</button>
        </li>
        <li class="select-list_item">
          <button data-select-item>Web development</button>
        </li>
      </ul>
    </div>
    <ul class="project-list">
      <li class="project-list_item" data-filter-item data-category="web design">
        <a href="#">
          <figure class="project-list_item_img">
            <img src="./assets/images/project-3.jpg" alt="fundo" loading="lazy" />
          </figure>
          <h3 class="project-list_item_title">Fundo</h3>
          <p class="project-list_item_category">Web design</p>
        </a>
      </li>
      <li class="project-list_item" data-filter-item data-category="web design">
        <a href="#">
          <figure class="project-list_item_img">
            <img src="./assets/images/project-6.png" alt="metaspark" loading="lazy" />
          </figure>
          <h3 class="project-list_item_title">MetaSpark</h3>
          <p class="project-list_item_category">Web design</p>
        </a>
      </li>
      <li class="project-list_item" data-filter-item data-category="web development">
        <a href="#">
          <figure class="project-list_item_img">
            <img src="./assets/images/project-7.png" alt="summary" loading="lazy" />
          </figure>
          <h3 class="project-list_item_title">Summary</h3>
          <p class="project-list_item_category">Web development</p>
        </a>
      </li>
      <li class="project-list_item" data-filter-item data-category="applications">
        <a href="#">
          <figure class="project-list_item_img">
            <img src="./assets/images/project-8.jpg" alt="task manager" loading="lazy" />
          </figure>
          <h3 class="project-list_item_title">Task Manager</h3>
          <p class="project-list_item_category">Applications</p>
        </a>
      </li>
    </ul>
  </section>
</article>
