<article class="resume" data-page="resume">
  <header>
    <h2 class="h2 article_title">Resume</h2>
  </header>
  <section class="timeline">
    <div class="timeline_title_wrapper">
      <div class="icon_box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">Experience</h3>
    </div>
    <ol class="timeline_list">
      {{ range .Site.Data.resume.experience }}
      <li class="timeline_list_item">
        <h2 class="h2 timeline_list_item_title">{{ .role }}</h2>
        <h4 class="h4 timeline_list_item_company">{{ .company }}</h4>
        <span>{{ .start_date }} - {{ .end_date }}</span>
        <p class="timeline_text">{{ .description }}</p>
        <h4 class="h4 timeline_list_item_skills">Skills</h4>
        <p>{{ .skills }}</p>
      </li>
      {{- end }}
    </ol>
  </section>
  <section class="timeline">
    <div class="timeline_title_wrapper">
      <div class="icon_box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">Education</h3>
    </div>
    <ol class="timeline_list">
      {{ range .Site.Data.resume.education }}
      <li class="timeline_list_item">
        <h2 class="h2 timeline_list_item_title">{{ .role }}</h2>
        <h4 class="h4 timeline_list_item_company">{{ .company }}</h4>
        <span>{{ .start_date }} - {{ .end_date }}</span>
        <p class="timeline_text">{{ .description }}</p>
        <h4 class="h4 timeline_list_item_skills">Skills</h4>
        <p>{{ .skills }}</p>
      </li>
      {{- end }}
    </ol>
  </section>
  <div class="resume_download">
    <a class="resume_download_button" href="{{ .Site.Data.resume.resume_src }}" target="_blank" rel="noopener noreferrer">Download</a>
  </div>
</article>
