<aside class="sidebar" data-sidebar>
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img src="{{ .Site.Data.sidebar.avatar_url }}" alt="{{ .Title }}" width="80" />
    </figure>
    <div class="info-content">
      <h1 class="name" title="{{ .Title }}">{{ .Title }}</h1>
      <p class="title">{{ .Site.Data.sidebar.role }}</p>
    </div>
    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>
      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>
  <div class="sidebar-info_more">
    <div class="separator"></div>
    <ul class="contacts-list">
      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="mail-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Email</p>
          <a href="mailto:{{ .Site.Data.sidebar.email }}" class="contact-link">{{ .Site.Data.sidebar.email }}</a>
        </div>
      </li>
      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Location</p>
          <address>{{ .Site.Data.sidebar.location }}</address>
        </div>
      </li>
    </ul>
    <div class="separator"></div>
    <ul class="social-list">
      <li class="social-item">
        <a href="{{ .Site.Data.sidebar.linkedin_url }}" class="social-link">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>
      <li class="social-item">
        <a href="{{ .Site.Data.sidebar.github_url }}" class="social-link">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </li>
    </ul>
  </div>
</aside>
